<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Todo list </title>
</head>
<body>

<div class="box" id="heading">
    <h1>  <%=kind%> </h1>
</div>
<div class="box">
    <%  for(var i=0;i<newslist.length; i++){ %>
        <div class="item">
             <input type="checkbox">
              <p><%= newslist[i] %> </p> 
        </div>
        
    <% }%>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New item" autocomplete="off">
        <button type="submit" name="button">+</button>
</div>
   
    
    




 </form>
</body>
</html>